.accordion {
  max-height: 64px;
  overflow-y: hidden;
  background-color: #f9f9fc;
  padding: 16px;
  transition: 0.5s;
}
.accordion.open {
  overflow-y: visible;
  max-height: 500px;
}
.accordion h1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.accordion.open h1 {
  border-bottom: 1px solid black;
}
.accordion ul {
  padding: 24px 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-family: sans-serif;
}
