.courses {
  display: flex;
  flex-direction: column;
}

.courses .sumtext {
  display: flex;
  gap: 8px;
  font-size: 40px;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
}

.courses .sumtext .blue-text {
  color: #42aaff;
}

.courses .search-courses {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 22px;
  font-family: sans-serif;
  font-weight: 600;
  gap: 8px;
}

.courses .search-courses .img {
  width: 19px;
  height: 19px;
}

.courses .all-courses {
  display: flex;
  justify-content: space-between;
  overflow-x: auto;
  gap: 16px;
}

.courses .all-courses .course {
  border-radius: 24px 24px 0 0;
  min-width: 380px;
  width: 380px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

.courses .all-courses .course .image {
  border-radius: 24px 24px 0 0;
  height: 268px;
}
.courses .all-courses .course .image img {
  border-radius: 24px 24px 0 0;
  width: 100%;
  height: 100%;
}

.courses .all-courses .course .content {
  padding: 32px 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.courses .all-courses .course .content .start-date {
  display: flex;
  gap: 8px;
  align-items: center;
  font-family: sans-serif;
}

.courses .all-courses .course .content .start-date .polygon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: #42aaff;
}

.courses .all-courses .course .content .content-header {
  font-size: 28px;
  font-weight: 700;
  padding-bottom: 32px;
  border-bottom: 1px solid black;
  font-family: Arial, Helvetica, sans-serif;
}

.courses .all-courses .course .content footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.courses .all-courses .course .content footer .footer-content {
  align-items: center;
  display: flex;
  gap: 16px;
}

.courses .all-courses .course .content footer .footer-content .image-icon {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.courses .all-courses .course .content footer button {
  width: 131px;
  height: 35px;
  background-color: #005092;
  color: white;
  font-family: sans-serif;
  border-radius: 18px;
  border-style: none;
}

@media (max-width: 480px) {
  .courses .all-courses {
    align-items: center;
    gap: 16px;
    flex-direction: column;
  }

  .courses .all-courses .course {
    min-width: 380px;
    width: 32%;
  }
}
